.summary-container {
  margin-top: 80px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}

.summary-item {
  margin-bottom: 5px;
  font-size: 18px;
  overflow-wrap: break-word;
}

.tag {
  display: inline-block;
  background-color: #e0d7d7;
  color: #333;
  padding: 3px 8px;
  border-radius: 5px;
  margin-right: 5px;
}
