<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img
        class="sxw-image"
        src="../../../../assets/images/logos/storexweb.png"
        alt="StoreXWeb Logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/users"
            routerLinkActive="active"
            aria-current="page"
          >
            <i class="bi bi-person"></i> Users
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/posts" routerLinkActive="active">
            <i class="bi bi-journal-text"></i> Posts
          </a>
        </li>
      </ul>
      <span class="me-2">App ID: {{ appId }}</span>
      <button
        class="btn btn-outline-secondary me-lg-2"
        type="button"
        routerLink="/auth"
      >
        <i class="bi bi-shield-lock"></i> Auth
      </button>
    </div>
  </div>
</nav>
