<div class="summary-container">
  <h3>Summary</h3>
  <hr />
  <div
    *ngFor="let controlName of formData.controls | keyvalue; let last = last"
  >
    <div
      class="summary-item"
      *ngIf="controlName.key !== 'image' && controlName.key !== 'picture'"
    >
      <b>{{ controlName.key | translate }}: </b>
      <span>{{ formData.get(controlName.key)?.value }}</span>
      <hr *ngIf="!last" />
    </div>
  </div>
  <div *ngIf="tags.length > 0">
    <hr />
    <b>Tags: </b>
    <span *ngFor="let tag of tags" class="badge badge-primary tag">{{
      tag
    }}</span>
  </div>
</div>
